@model IEnumerable<Neptun.Models.FeedBack>

@{
    ViewBag.Title = "AdminInfo";
}
<div class="container">
    <h3 class="m-5">Обратная связь</h3>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName) @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNuber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNuber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    <button class="btn btn-danger" onclick="deleteItem(@item.Id)">Удалить</button>
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts{
    <script>
        function deleteItem(item) {
            var confirmDelete = confirm("Вы уверенны что хотите удалить эту запись?");
            if (confirmDelete) {
                $.ajax({
                    type: "POST",
                    url: "/FeedBacks/Delete",
                    data: {"Id": item},
                    success: function() {
                        window.location.replace("@Url.Action("AdminInfo", "FeedBacks")");
                    },
                    error: function(data) {
                        alert(data.x);
                    }
                });
            }
        };
    </script>
}
