@model IEnumerable<Neptun.Models.Employee>

@{
    ViewBag.Title = "AdminInfo";
}

<div class="container">
    <h2 class="m-5">Работники</h2>

    <a class="btn btn-success mb-2" href='@Url.Action("Create", "Employees")'>Добавить работника</a>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNuber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNuber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a class="btn btn-warning" href='@Url.Action("Edit", "Employees", new { id = item.Id })'>Изменить</a>
                    <button class="btn btn-danger" onclick="deleteItem(@item.Id)">Удалить</button>
                </td>
            </tr>
        }

    </table>
</div>

@section Scripts{
    <script>
        function deleteItem(item) {
            var confirmDelete = confirm("Вы уверенны что хотите удалить эту запись?");
            if (confirmDelete) {
                $.ajax({
                    type: "POST",
                    url: "/Employees/Delete",
                    data: {"Id": item},
                    success: function() {
                        window.location.replace("@Url.Action("Index", "Employees")");
                    },
                    error: function(data) {
                        alert(data.x);
                    }
                });
            }
        };
    </script>
}