@using Neptun.Models.Enum

<!DOCTYPE html>
<html>
<head>
    <link href="/content/Site.css" rel="stylesheet">
    <link href="/content/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta charset="utf-8" />
    @RenderSection("metatags", false)
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <header>
        <div class="header-container">
            <input type="checkbox" id="menu-checkbox">
            <nav class="navigation">
                <label for="menu-checkbox" class="toggle-button" data-open="МЕНЮ" data-close="ЗАКРЫТЬ"></label>
                <ul class="main-menu">
                    <li>
                        <a href="@Url.Action("Index", "Home")">ГЛАВНАЯ</a>
                    </li>
                    <li class="dropdown">
                        <label for="dropdown-checkbox" id="dropdown-label">ПРОДУКЦИЯ</label>
                        <input type="checkbox" id="dropdown-checkbox">
                        <div>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Productions")">Вся продукция</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="@Url.Action("Index", "Productions", new {productType = ProductType.HfProcessing})">ВЧ Обработка</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Productions", new {productType = ProductType.HfCommunication})">ВЧ Связь</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Productions", new {productType = ProductType.HfProtection})">ВЧ Защита</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Cabinets", "Productions")">Шкафы</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="@Url.Action("TreatmentFacilities", "Productions")">Очистные сооружения</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="@Url.Action("Index", "Productions", new {productType = ProductType.Other})">Прочее</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "News")">НОВОСТИ</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Company")">КОНТАКТЫ</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "FeedBacks")">СВЯЗЬ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="renderbody">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("/scripts/user/header-script.js")
    @RenderSection("scripts", required: false)


    <footer class="footer">
        <div class="container">
            <p class="m-2 text-center text-white">Все права на торговую марку принадлежат ООО "Торговый дом Одесского завода "Нептун"</p>
        </div>
    </footer>

</body>
</html>
