@model Neptun.Models.Company
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron padding-bottom-10">
    <img class="img-responsive" src="/Pictures/MainPage.jpg" alt="Chania">
    <div class="row padding-top-20">
        <img class="lead img-responsive col-md-1" src="/Pictures/Neptun_animat.gif" alt="Chania">
        <h2 class="lead col-md-11 h2"> Производство и реализация электротехнического оборудования</h2>
    </div>
</div>
<div class="row">
    <div class="div-with-alert">
            <div class="col-md-8">
                <div class="col-md-offset-1"><h2>О компании</h2></div>
                <p>ООО  «Торговый дом Одесского завода «Нептун»  был создан в 2006 году как структурное подразделение Корпорации «СОЮЗ» для реализации и продвижения на рынке электротехнической  продукции, выпускаемой ООО «Одеский завод «Нептун».</p>
                <p>Специалисты Торгового дома принимали активное и непосредстаенное участие в разработке новых видов аппаратуры связи, релейноу защиты и высокочастотной обработки ЛЭП.</p>
                <p>Накопив богатый опытт, после реорганизации завода «Нептун», ООО «Торговый дом Одесского завода «Нептун» получил лицензию на производство собственной продукции и унаследовал Торговую марку завода «Нептун», имеющую 70 летнюю историю производства устройств связи и вч защиты.</p>
                <p>В 2017 гю начато производство и реализация продукции собственного изготовления.</p>
                <p>Наряду с этим мы готовы поставлять продукцию электротехнического назначения других производителей, как отечественных, так и мировых брендов.</p>
            </div>
        <div class="alert alert-warning text-left col-md-4">
            <h2>Партнеры</h2>
            <h4>Приглашаем к сотрудничеству заинтересованые предприятия и огранизации</h4>
        </div>
        <div class="alert alert-info text-left col-md-4">
            <h2>Контакты</h2>
            <h4>@Html.DisplayNameFor(model => model.Fax): @Html.DisplayFor(model => model.Fax)</h4>
            <h4>@Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(model => model.PhoneNumber)</h4>
            <h4>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</h4>
            <h4>@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)</h4>
        </div>
    </div>
</div>
<div class="card background-brown">
    <div class="card-header">
        <h3 class="text-center">
            ООО «Торговый дом Одесского завода «Нептун», предлагает к поставке следующие виды продукции
        </h3>
    </div>
    <div class="card-body">
            <ul class="list-group col-lg-6">
                <li class="list-group-item">Высокочастотные заградители ВЗ-630-0,5У1, ВЗ-1250-0,5У1, ВЗ-2000-0,5У1</li>
                <li class="list-group-item">Высокочастотные заградители ВЗ-630-1,0У1, ВЗ-1250-1,0У1, ВЗ-2000-1,0У1.</li>
                <li class="list-group-item">Аппаратура высокочастотной связи цифровая модернизированная АВС-ЦМ.</li>
                <li class="list-group-item">Аппаратура высокочастотной связи АВС-1, АВС-3 (аналоговая).</li>
                <li class="list-group-item">Аппаратура ВЧ связи для распределения сетей АВС-РС.</li>
                <li class="list-group-item">Аппаратура НЧ связи АНС.</li>
                <li class="list-group-item">Пост высокочастотной защиты ПВЗ.</li>
                <li class="list-group-item">Фильтр разделительный типа ДК-2,3.</li>
                <li class="list-group-item">Разделительный фильтр типа РФ.</li>
                <li class="list-group-item">Фильтр присоединения ФПМ, ФПМУ.</li>
                <li class="list-group-item">Элемент настройки ЭНУ-0,5-40.</li>
                <li class="list-group-item">Разъединители типа РВО.</li>
            </ul>
            <ul class="list-group col-lg-6">
                <li class="list-group-item">Шкафы отбора напряжения ШОН.</li>
                <li class="list-group-item">Панели распределительных щитов ЩО-90.</li>
                <li class="list-group-item">Устройства вводно-распределительные УВР, ВРУ.</li>
                <li class="list-group-item">Щиты Этажные.</li>
                <li class="list-group-item">Ящики вводно-учетные типа ЯВУ.</li>
                <li class="list-group-item">Установки компенсации реактивной мощности УКМ-04.</li>
                <li class="list-group-item">Устройства автоматического включения резервного питания АВР.</li>
                <li class="list-group-item">Ящики силовые с рубильником ЯР, ЯРП, ЯПРП.</li>
                <li class="list-group-item">Ящики понижающие с трансформатором ЯТП-0,25.</li>
                <li class="list-group-item">Шкафы распределительные силовые СПМ-75.</li>
                <li class="list-group-item">Шкафы распределительные силовые СПА-77.</li>
                <li class="list-group-item">Камеры КСО 393.</li>
            </ul>
    </div>
</div>
            
            
  