@model IEnumerable<Neptun.Models.News>

@{
    ViewBag.Title = "AdminInfo";
}
<div class="container">
    <h2 class="m-5">Новости</h2>

    <a class="btn btn-success mb-2" href='@Url.Action("Create", "News")'>Добавить новость</a>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.Raw(item.Description)
                </td>
                <td>
                    <a class="btn btn-warning" href='@Url.Action("Edit", "News", new { id = item.Id })'>Изменить</a>
                    <button class="btn btn-danger" onclick="deleteItem(@item.Id)">Удалить</button>
                </td>
            </tr>
        }

    </table>
</div>

@section Scripts{
    <script>
        function deleteItem(item) {
            var confirmDelete = confirm("Вы уверенны что хотите удалить эту запись?");
            if (confirmDelete) {
                $.ajax({
                    type: "POST",
                    url: "/News/Delete",
                    data: {"Id": item},
                    success: function() {
                        window.location.replace("@Url.Action("AdminInfo", "News")");
                    },
                    error: function(data) {
                        alert(data.x);
                    }
                });
            }
        };
    </script>
}