@model Neptun.Models.Production

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <h3>Вы уверены что хотите удалить эту продукцию @Html.ActionLink("@Html.DisplayFor(model => model.Title)", "Info")?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductType)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="mt-1">
                <input type="submit" value="Удалить" class="btn" /> |
                @Html.ActionLink("Вернуться к списку", "AdminInfo")
            </div>
        }
    </div>
</div>
