@using System.ComponentModel
@model Neptun.Models.ViewModels.ProductionCreateEditViewModel

@{
    /**/

    ViewBag.Title = "Edit";
}
}

<div class="container">
    <h3>Изменить</h3>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    
    <style>
        .table-bordered td {
            border: 1px solid #000000;
        }
    </style>
    @using (Html.BeginForm(Html.BeginForm("Edit", "Productions", FormMethod.Post, new { enctype = "multipart/form-data" })))
    {
        @Html.AntiForgeryToken()


        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            <div>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "summernote" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.ButtonDescriptionName, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ButtonDescriptionName, new { htmlAttributes = new { @class = "form-control", id = "summernote" } })
                @Html.ValidationMessageFor(model => model.ButtonDescriptionName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.FullDescriptionPdf, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.FullDescriptionPdf)
                <p>(pdf) </p>
                @Html.TextBoxFor(model => model.HttpPostedFilePdf, new { type = "file", value = "pdf" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.ProductType, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.ProductType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Photo)
                <p>(jpg, jpeg, png, gif) </p>
                @Html.TextBoxFor(model => model.HttpPostedFilePhoto, new { type = "file", value = "photo" })
            </div>
        </div>

        <div class="form-group">
            <div class="pl-5 col-md-10">
                <input type="submit" value="Сохранить" class="btn" />
            </div>
        </div>

    }

    <div>
        @Html.ActionLink("Вернуться к списку", "AdminInfo")
    </div>

    <div id="summernote"></div>
    <script>
        $('#summernote').summernote({
            placeholder: 'Введите описание продукции',
            tabsize: 2,
            height: 100
        });
        $('.dropdown-toggle').dropdown();
    </script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>