@using Neptun.Models.Enum
@model Neptun.Models.ViewModels.ProductIndexViewModel

@{
    var leftArrow = Model.CurrentPage != 0 ? "page-item" : "page-item disabled";
    var rigthArrow = Model.CurrentPage != Model.PageCount - 1 ? "page-item" : "page-item disabled";

    var description = "За качество всей поставляемой продукции несем персональную ответственность";
    var title = "Продукция Торгового дома Нептун";
    var keywords = "Связь для энергетики, электротехническое оборудование";

    if (Model.ProductType == ProductType.HfProcessing)
    {
        title = "Аппаратура присоединения к ЛЭП 35-750 кВ";
        description = "Устройства присоединения аппаратуры связи и защиты к линиям ЛЭП 35-750 кВ.";
        keywords += "Заградитель, Фильтр присоединения, ФПМ, Элемент настройки, ЭНУ, разделительный фильр, РФ, конденсатор связи, СМП, СМА, разъединитель, РВО-10/400" +
                    "аппаратура присоединения, ЛЭП, 35-750кВ";
    }
    if (Model.ProductType == ProductType.HfProtection)
    {
        title = "Аппаратура ВЧ Защиты";
        description = "Аппаратура, предназначеная для организации высокочастотных каналов защит, телеотключения, телеметрии на линиях ЛЭП";
        keywords += "Пост, ПВЗ, АНКА, Аппаратура ВЧ Защиты, АВЗК, АВЗК-80, высокочастотной защиты, приемо-передатчик, Пост ПВЗ, АКА Кедр";
    }
    if (Model.ProductType == ProductType.HfCommunication)
    {
        title = "Аппаратура высокочастотной связи по ЛЭП 35-750 кВ";
        description = "Аппаратура, предназначеная для организации высокочастотных каналов диспетчерской и технологической связи в энергосистемах на " +
                      "линиях ЛЭП 110-330 кВ. Одноканальные и многоканальный системы связи АВС-ЦМ, АВС-1-1б АВС-3-1, диспетчерские каналы АСКУЭ";
        keywords += "АВС-1-1, АВС-3-1, АВС-ЦМ, АВС, АНС, аппаратура высокочастотной связи, ВЧ связь, ЛЭП, 35-750кВ";
    }
    ViewBag.Title = title;
}

@section metatags
{
    <meta name="keywords" content="@keywords"/>
    <meta name="description" content="@description"/>
}


<section class="py-5">
    <div class="container">
        <h2>@title</h2>
        <p class="lead">@description</p>
    </div>
</section>
<div class="container">
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <div class="card-text h-75">
                        <h5 class="card-title text-center">
                            <a href=@Url.Action("Info", "Productions", new {id = item.Id})>@Html.DisplayFor(modelItem => item.Title)</a>
                        </h5>
                    </div>
                    <a href=@Url.Action("Info", "Productions", new {id = item.Id})>
                        <img class="card-img-top" src="@item.Photo" alt="">
                    </a>
                </div>
            </div>
        }
    </div>

    @if (Model.PageCount > 1)
    {
        <nav class="row pl-5">
            <ul class="pagination">
                <li class="@leftArrow">
                    <a class="page-link" tabindex="-1" href=@Url.Action("Index", "Productions", new {page = Model.CurrentPage - 1, productType = Model.ProductType}) aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                @for (var i = 1; i < Model.PageCount + 1; i++)
                {
                    var pageActive = Model.CurrentPage == i - 1 ? "page-item active" : "page-item";
                    <li class="@pageActive"><a class="page-link" href=@Url.Action("Index", "Productions", new {page = i - 1 , productType = Model.ProductType})>@i</a></li>

                }
                <li class="@rigthArrow">
                    <a class="page-link" href=@Url.Action("Index", "Productions", new {page = Model.CurrentPage + 1 , productType = Model.ProductType}) aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

    }

</div>