@model Neptun.Models.Production

@{
    var title = string.IsNullOrEmpty(Model.PageTitle) ? Model.Title : Model.PageTitle;
    ViewBag.Title = "Нептун | Продукция | " + title;
    var canonical = "http://neptun-odessa.com/Productions/Info/" + Model.Id;
}

@section metatags
{
    <meta name="keywords" content="@Model.PageKeywords" />
    <meta name="description" content="@Model.PageDescription" />
}

@section links
{
    <link rel="canonical" href="@canonical" />
}

<style>
    .table-bordered td {
        border: 1px solid #000000;
    }
</style>
<div class="container">
    <div class="pl-4 pt-5">
        <h3>
            @Html.DisplayFor(model => model.Title)
            @if (!string.IsNullOrEmpty(Model.ButtonDescriptionName))
            {
                <input type="button" class="btn btn-info" onClick="window.open('@Url.Action("DisplayPdf", "Productions", new {id = Model.Id})', target='_blank')" value='@Html.DisplayFor(modelItem => Model.ButtonDescriptionName)' />
            }
        </h3>
        <hr />
    </div>
    <div class="col-lg-5 float-lg-left">
        <img class="card-img-top" src="@Model.Photo" alt="">
    </div>
    <div class="pl-4">
        @Html.Raw(Model.Description)
    </div>
    
    <div class="cooperation-container">
        <section class="cooperation">
            <a href="/Company#feedback">
                <img src="/Pictures/Cooperation.png" alt="Торговый дом Нептун">
                <article>
                    <p>
                        Задайте интересующие вопросы и в ближайшее время мы свяжемся с вами.
                    </p>
                </article>
            </a>
        </section>
    </div>

</div>


