@model Neptun.Models.ViewModels.Product.ProductInfoViewModel

@{
    ViewBag.Title = "Info";
}

<div class="pl-4">
    <h3>
        @Html.DisplayFor(model => model.Title)
        @if (!string.IsNullOrEmpty(Model.ButtonDescriptionName))
        {
            <button class="btn btn-info" onclick="location.href = '@Url.Action("DisplayPdf", "Productions", new {id = Model.Id})'">@Html.DisplayFor(modelItem => Model.ButtonDescriptionName) </button>
        }
    </h3>
    <hr/>
</div>
<div class="col-lg-5 float-lg-left">
    @{ var path = $@"data:image/jpeg;base64, {Convert.ToBase64String(Model.Photo)} ";}
    <img class="card-img-top" src="@path" alt="">
</div>
<div class="pl-4">
    @Html.Raw(Model.Description)
</div>




