@model Neptun.Models.Production

@{
    ViewBag.Title = "Info";
}
<style>
    .table-bordered td {
        border: 1px solid #000000;
    }
</style>
<div class="container">
    <div class="pl-4">
        <h3>
            @Html.DisplayFor(model => model.Title)
            @if (!string.IsNullOrEmpty(Model.ButtonDescriptionName))
            {
                <input type="button" class="btn btn-info" onClick="window.open('@Url.Action("DisplayPdf", "Productions", new {id = Model.Id})', target='_blank')"   value='@Html.DisplayFor(modelItem => Model.ButtonDescriptionName)'/>
            }
        </h3>
        <hr />
    </div>
    <div class="col-lg-5 float-lg-left">
        <img class="card-img-top" src="@Model.Photo" alt="">
    </div>
    <div class="pl-4">
        @Html.Raw(Model.Description)
    </div>

</div>


